*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.todo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}
.todo h2{
  margin: 10px;
}
.todo form{
  margin: 10px;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
}
form input[type='text']{
  height: 40px;
  width: 240px;
  font-size: 20px;
  text-align:center;
}
form input[type='submit']{
  height: 40px;
  width:60px;
  margin-left: 10px;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
}
.todoMap{
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 20px;
  border: 1px solid ;
  padding:7px;
  height: 40px;
  width: 100%;
}
button{
  height: 30px;
  width: 80px;
  margin-left: 20px;
}